.container {
  margin:0;
  padding:0 !important;
  height: calc(100vh - 42px);
  overflow: auto;
  .notData {
    text-align: center;
  }
  @media (max-width: 767px) {
    height: calc(100vh - 117px);
  }
  .spinnerContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100px;
    height: 150px;
    margin: auto;
    opacity: 0;
    transition: all .2s ease;
  }
  .spinnerActive {
    opacity: 1;
  }
  .itemVac {
    padding: 35px 15px;
    border-bottom: 1px solid #b5b5b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      .title {
        font-size: 22px;
      }
      .organization {
        color: #b5b5b5;
      }
      .phone {
        margin-top: 15px;
      }
      .skillsList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .skillItem {
          font-weight: bold;
          margin-left: 5px;
          text-transform: lowercase;
        }
      }
    }
  }
  .itemResume {
    padding: 35px 15px;
    border-bottom: 1px solid #b5b5b5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item {
      .name {
        font-size: 22px;
      }
      .phone {
        margin-top: 15px;
      }
      .skillsList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .skillItem {
          font-weight: bold;
          margin-left: 5px;
          text-transform: lowercase;
        }
      }
    }
  }
}