p#notice = notice
= form_for @vacancy do |f|
  - if @vacancy.errors.any?
    #error_explanation
      h3 = "При сохранении возниклки ошибки:"
      ul
        - @vacancy.errors.full_messages.each do |message|
          li = message

  .col-md-6
    .row
      .form-group.col-md-12
        .col-md-3
          = 'Название: '
        .col-md-6
          = f.text_field :title, class: 'form-control'

      .form-group.col-md-12
        .col-md-3
          = 'Зарплата: '
        .col-md-6
          = f.text_field :price, class: 'form-control'

      .form-group.col-md-12
        .col-md-3
          = 'Телефон: '
        .col-md-6
          = f.text_field :phone, class: 'form-control'

      .form-group.col-md-12
        .col-md-3
          = 'Email: '
        .col-md-6
          = f.text_field :email, class: 'form-control'

      .form-group.col-md-12
        .col-md-3
          = 'Организация: '
        .col-md-6
          = f.text_field :organization, class: 'form-control'
      .form-group.col-md-12
        .col-md-3
          = 'Актуально до: '
        .col-md-6
          = f.text_field :valid_before, class: 'form-control datepicker', data: { provide: 'datepicker', date_format: 'dd-mm-yyyy' }

      .form-group.col-md-12
        .col-md-3
          = 'Навыки: '
        .col-md-6
          = f.collection_select :skill_ids, Skill.all, :title, :title, {selected: @vacancy.skills.pluck(:title)}, {multiple: true, class: "form-control js-example-tags"}

      .form-group.col-md-12
        .col-md-3
          = f.submit class: 'btn btn-success'
        .col-md-4
        .col-md-3
          = link_to 'Назад', vacancies_path, class: 'btn btn-default'
