.col-md-12
  h1 Вакансии

  = link_to 'Новая вакансия', new_vacancy_path, class: 'btn btn-default'

  table.table
    thead
      tr
        th
          = 'Название'
        th
          = 'Создана'
        th
          = 'Актуальна до'
        th
          = 'Зарплата'
        th
          = 'Контакты'
        th
          = 'Действия'

    tbody
      - @vacancies.each do |vacancy|
        tr
          td
            = vacancy.title
          td
            = vacancy.created_at
          td
            = vacancy.valid_before
          td
            = vacancy.price
          td
            = vacancy.email
            br
            = vacancy.phone
            br
            = vacancy.organization
          td 
            = link_to 'Edit', edit_vacancy_path(vacancy), class: 'btn btn-info'
            br
            = link_to 'Destroy', vacancy, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'
