.row
  .col-md-4.col-md-offset-4
    h2
      = 'Админ. панель'

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email
        br
        = f.email_field :email, autofocus: true, class: 'form-control'

      .form-group
        = f.label :password, 'Пароль'
        br
        = f.password_field :password, autocomplete: 'off', class: 'form-control'

      - if devise_mapping.rememberable?
        .checkbox
          = f.label :remember_me
            = f.check_box :remember_me, class: 'checkbox'
            = 'Запомнить меня'

      .actions
        = f.submit 'Войти', class: 'btn btn-default'

    = render 'devise/shared/links'
