.container {
  box-shadow: 1px 0 1px 0 rgba(0,0,0,0.2);
  height: calc(100vh - 42px);
  @media (max-width: 765px) {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .selcetCont {
      width: 50%;
    }
    h4, .selectLabel {
      display: none;
    }
  }
  .skills {
    //margin-top: 15px;
    @media (max-width: 765px) {
      margin-top: 0;
    }
  }
  .fullCoincidence {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .textCheck {
      margin-bottom: 8px;
      margin-right: auto;
    }
  }
}