p#notice = notice
= form_for @resume do |f|
  - if @resume.errors.any?
    #error_explanation
      h3 = "При сохранении возниклки ошибки:"
      ul
        - @resume.errors.full_messages.each do |message|
          li = message

  .col-md-6
    .row
      .form-group.col-md-12
        .col-md-3
          = 'Имя: '
        .col-md-6
          = f.text_field :name, class: 'form-control'

      .form-group.col-md-12
        .col-md-3
          = 'Зарплата: '
        .col-md-6
          = f.text_field :price, class: 'form-control'

      .form-group.col-md-12
        .col-md-3
          = 'Email: '
        .col-md-6
          = f.text_field :email, class: 'form-control'

      .form-group.col-md-12
        .col-md-3
          = 'Телефон: '
        .col-md-6
          = f.text_field :phone, class: 'form-control'

      .form-group.col-md-12
        .col-md-3
          = 'Статус: '
        .col-md-6
          .checkbox
            = f.label :status
              = f.check_box :status, class: 'checkbox'
              = 'Актуальное резюме'

      .form-group.col-md-12
        .col-md-3
          = 'Навыки: '
        .col-md-6
          = f.collection_select :skill_ids, Skill.all, :title, :title, {selected: @resume.skills.pluck(:title)}, { multiple: true, class: "form-control js-example-tags" }

      .form-group.col-md-12
        .col-md-3
          = f.submit class: 'btn btn-success'
        .col-md-4
        .col-md-3
          = link_to 'Назад', resumes_path, class: 'btn btn-default'

