.col-md-12
  h1 Резюме

  = link_to 'Новое резюме', new_resume_path, class: 'btn btn-default'

  table.table
    thead
      tr
        th
          = 'Имя'
        th
          = 'Статус'
        th
          = 'Зарплата'
        th
          = 'Контакты'
        th
          = 'Действия'

    tbody
      - @resumes.each do |resume|
        tr
          td
            = resume.name
          td
            = resume.status
          td
            = resume.price
          td
            = resume.email
            br
            = resume.phone
          td 
            = link_to 'Edit', edit_resume_path(resume), class: 'btn btn-info'
            br
            = link_to 'Destroy', resume, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'
