doctype html
html
  head
    title HotShots Admin
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    = csrf_meta_tag
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
  body
  - if user_signed_in?
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          = link_to 'Админ. Панель', admin_index_path, class: 'navbar-brand'
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav
            li class=(params[:controller] == 'vacancies' ? 'active' : '')
              = link_to 'Вакансии', vacancies_path
            li class=(params[:controller] == 'resumes' ? 'active' : '')
              = link_to 'Резюме', resumes_path
          ul.nav.navbar-nav.navbar-right
            li
              = link_to 'Выход', destroy_user_session_path, method: :delete        
  == yield
