doctype html
html
  head
    title HotShots
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    link href='/css/index.css' rel='stylesheet'

  body
    == yield

    script type='text/javascript' src='/js/bundle.js'
    